.InputGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.noLabel {
  height: 3rem;
}

.labelform {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}

.inputWithIcon {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 20rem;
}

.formInput {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 2px solid #000;
  background-color: transparent;
  color: #222;
  font-size: 1rem;
  padding-right: 2.5rem;
  box-sizing: border-box;
  height: 3rem;
}

.errorInput {
  border: 1px solid #d32f2f;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
  font-weight: 800;
  user-select: none;
  transition: color 0.3s ease;
  z-index: 2;
}
.errorIcon {
  color: #d32f2f;
}
.icon:hover {
  color: #d32f2f;
}
.error {
  position: absolute;
  bottom: 1.2rem;
  left: 1rem;
  color: #d32f2f;
  font-size: 0.7rem;
  background-color: transparent;
  z-index: 1;
}
