.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70vw;
  margin: 0 auto;
  box-sizing: border-box;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 4rem 0rem;
}

.catalog {
  display: flex;
  justify-content: center;
  width: 85%;
}
