.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 4rem;
}
.icons {
  display: flex;
  gap: 1rem;
}
.material-symbols-outlined {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 1;
}
.iconButton {
  cursor: pointer;
  opacity: 0.5;
  font-size: 3rem;
  transition: opacity 0.2s, background 0.2s;
  user-select: none;
  outline: none;
  border: none;
  background: none;
  display: inline-flex;
}

.iconButton.active,
.iconButton:hover,
.iconButton:focus {
  opacity: 1;
}

.grid {
  display: grid;
  width: 100%;
  gap: 4rem;
  /* Hay que cambiar el gap porque si lo pongo a 0 como debería ser se superponen los elementos o cards */
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0rem;
}

.description span {
  font-size: 1.1rem;
  font-weight: 700;
  color: #4b4b4b;
}
.titlte {
  padding-bottom: 1rem;
}
