.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.containerImg {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.containerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.containerContent h1 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem 0rem 0rem 0rem;
}

.containerContent h2 {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  color: #222;
}
